html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.center-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 185px;
}
/* Food & resturent pos style */

.R-pos-circle-bg{
  position: relative;
}
.R-pos-circle-bg::after{
    content: ' ';
    position: absolute;
    /* right: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff,#ff5200cc);
    -webkit-clip-path: circle(20% at 10% 10%);
    clip-path: circle(20% at 91% 94%);
    top: 0;
    left: 0;
}
.R-pos-circle-bg::before{
    content: ' ';
    position: absolute;
    /* right: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff80007e,#ffffff);
    -webkit-clip-path: circle(20% at 10% 10%);
    clip-path: circle(20% at left 12%);
    top: 0;
    left: 0;
}
.food-res-bg-img{
    background: url('/images/easycode-software-cover.png') repeat fixed 100%;
    width: auto;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0px 150px 80px;
    position: relative;
}
.food-res-bg-img h1{
    font-size: 6vw;
    color: #292929;
    position: relative;
    text-align: left;
    font-weight: bolder;
    font-family: fantasy;
}

.food-res-bg-overlay{
    position: relative;
    z-index: 0;
}
.food-res-bg-overlay::before{
    position: absolute;
    content: "";
    background-color: #ff9b0642;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
}
.R-pos-image{
    width: 100%;
    height: 70%;
}
.rpos-heading{
    font-size: 35px;
    color: #000000;
    font-family: inherit;
    text-align: center;
    margin: 65px 8px;
    font-weight: 600;
    position: relative;
}
.rpos-heading::after{
    content: '';
    position: absolute;
    left: 31%;
    top: 45px;
    width: 15.5%;
    height: 5px;
    background-color: #ff6500;
  }
.rpos-heading::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 18.5%;
    bottom: 110%;
    height: 5px;
    background-color: #ff6500;
  }
.Rpos-text{
    border-bottom: 0px !important;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    color: #000000;
    background-color: rgba(247, 166, 67, 0.651);
    border-radius: 5px;
    margin: 5px 0px;
    position: relative !important;
}
.Rpos-text:hover{
    color: #ffffff;
    background-color: rgb(255, 136, 0);
}
.top-heading{
    font-size: 35px;
    color: #000000;
    font-family: inherit;
    text-align: center;
    margin-top: -145px;
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
}

.top-heading::after{
    content: '';
    position: absolute;
    left: 34%;
    top: 45px;
    width: 7%;
    height: 5px;
    background-color: #ff6500;
  }
  /*trading pos design*/
  .tradepos-heading{
    font-size: 35px;
    color: #000000;
    font-family: inherit;
    text-align: center;
    margin: 65px 8px;
    font-weight: 600;
    position: relative;
}
.tradepos-heading::after{
    content: '';
    position: absolute;
    left: 37%;
    top: 45px;
    width: 9%;
    height: 5px;
    background-color: #ff6500;
  }
.tradepos-heading::before{
    content: '';
    position: absolute;
    left: 47%;
    width: 15.5%;
    bottom: 110%;
    height: 5px;
    background-color: #ff6500;
  }
.top-heading::before{
    content: '';
    position: absolute;
    left: 55%;
    width: 11%;
    bottom: 105%;
    height: 5px;
    background-color: #ff6500;
}
  

.feature-img{
    padding: 5px;
}

/* common style for all software  which dont have any info*/
.ComSofware-round-bg::before{
    background-color: #72727221;
    padding: 45px;
    position: relative;
}
.ComSofware-round-bg::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f3ba29,#e91e63);
    -webkit-clip-path: circle(20% at 10% 10%);
    clip-path: circle(31% at 10% 10%);
}
.ComSofware-Query-h1{
    font-size: 50px;
    font-weight: 300;
    color: #001D38;
    margin-bottom: 30px;
    margin-top: 88px !important;
    text-align: center;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 5px;
    position: relative;
}
.ComSofware-button{
    background: rgba(255,255,255,0.1);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    padding: 150px 0px;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    justify-content: center;
    align-items: center;
    position: relative;
}
.ComSofware-button h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    font-family: cursive;
}
.ComSofware-button h4{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
    font-family: auto;
    letter-spacing: 3px;
    margin: 20px 0px;
}


.ComSofware-button::after {
    content: ' ';
    position: absolute;
    /* right: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#e94f4f,#f3955fcc);
    -webkit-clip-path: circle(20% at 10% 10%);
    clip-path: circle(17% at right 98%);
    top: 0;
    left: 0;
}
@media only screen and (max-width: 1290px) {
    .rpos-heading::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 21.5%;
    }
    .rpos-heading::after {
        left: 28%;
        top: 45px;
        width: 18%;
    }
    .tradepos-heading::before {
        left: 46%;
        width: 17.5%;
    }
    .tradepos-heading::after {
        content: '';
        position: absolute;
        left: 36%;
    }
}
@media only screen and (max-width: 1100px) {
    .R-pos-image {
        width: 100%;
        height: 90%;
    }
    .slick-prev {
        left: 4px !important;
    }
    .rpos-heading::before {
        left: 50.5%;
        width: 25%;
    }
    .rpos-heading::after {
        left: 24%;
        top: 45px;
        width: 21%;
    }
    .tradepos-heading::before {
        left: 45.5%;
        width: 20.5%;
    }
    .tradepos-heading::after {
        left: 33%;
        top: 45px;
        width: 11%;
    }
}
@media only screen and (max-width: 900px) {
    .R-pos-image {
        width: 100%;
        height: 90%;
    }
    .slick-prev {
        left: 4px !important;
    }
    .tradepos-heading::after{
        content: '';
        position: absolute;
        left: 27%;
        top: 45px;
        width: 15%;
        height: 5px;
        background-color: #ff6500;
      }
    .tradepos-heading::before{
        content: '';
        position: absolute;
        left: 45%;
        width: 27.5%;
        bottom: 110%;
        height: 5px;
        background-color: #ff6500;
      }
      .rpos-heading::before {
        left: 50.5%;
        width: 34%;
      }
      .rpos-heading::after {
        left: 15%;
        top: 45px;
        width: 28%;
      }
}
@media only screen and (max-width: 800px) {
    .R-pos-image {
        width: 100%;
        height: 90%;
    }
    .slick-prev {
        left: 4px !important;
    }
    .tradepos-heading {
        font-size: 30px;
    }
    .tradepos-heading::before {
        left: 45%;
        width: 24.5%;
    }
    .tradepos-heading::after {
        left: 30%;
        top: 40px;
        width: 13%;
    }
}
@media only screen and (max-width: 700px) {
    .R-pos-image {
        width: 100%;
        height: 90%;
    }
    .slick-prev {
        left: 4px !important;
    }
    .rpos-heading::before {
        left: 50.5%;
        width: 46%;
    }
    .rpos-heading::after {
        left: 2%;
        top: 45px;
        width: 39%;
    }
    .tradepos-heading::before {
        left: 43%;
        width: 32.5%;
    }    
    .tradepos-heading::after {
        left: 23%;
        top: 40px;
        width: 18%;
    }
}
@media only screen and (max-width: 650px) {
.R-pos-image {
    width: 100%;
    height: 90%;
}
.slick-prev {
    left: 4px !important;
}
.rpos-heading::before {
    left: 51%;
    width: 45.5%;
}
.rpos-heading::after {
    left: 2%;
    top: 45px;
    width: 39%;
}
}
@media only screen and (max-width: 570px) {
    .ComSofware-Query-h1 {
        font-size: 30px;
    }
    .ComSofware-button h1 {
        font-size: 20px;
    }
    .ComSofware-button h4 {
        font-size: 16px;
        margin: 31px 0px;
    }
    .ComSofware-button {
        padding: 100px 0px;
    }


    .food-res-bg-img {
        background: url(/images/easycode-software-cover.png) repeat fixed 100%;
        width: 100%;
        height: 100%;
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        background-size: contain;
        padding: 146px 0px 35px 27px;
        position: relative;
  }
  .rpos-heading {
    font-size: 26px;
    color: #000000;
    font-family: 'Poppins';
    text-align: center;
    margin: 55px 8px 60px 0px;
    font-weight: 600;
    position: relative;
}
.rpos-heading::before {
    left: 51%;
    width: 32%;
}
.rpos-heading::after {
    content: '';
    position: absolute;
    left: 17%;
    top: 35px;
    width: 27%;
    height: 5px;
    background-color: #ff6500;
}
.tradepos-heading {
    font-size: 27px;
}
.tradepos-heading::after {
    top: 33px;
}
.tradepos-heading::before {
    left: 44%;
    width: 28.5%;
}
.tradepos-heading::after {
    left: 27%;
    width: 14%;
}
  .food-res-bg-img h1 {
    font-size: 9vw;
  }
  .top-heading {
    font-size: 25px;
    font-family: fantasy;
  }
  .top-heading::before {
    left: 58%;
    width: 22%;
  }
  .top-heading::after {
    content: '';
    position: absolute;
    left: 20%;
    top: 33px;
    width: 20%;
  }
  .feature-img {
    padding: 25px;
}

    }
@media only screen and (max-width: 400px) {
.rpos-heading {
   font-size: 23px;
   color: #000000;
   font-family: inherit;
}       
.rpos-heading::before {
    left: 51%;
    width: 46%;
}
.rpos-heading::after {
    content: '';
    position: absolute;
    left: 2%;
    top: 35px;
    width: 39%;
    height: 5px;
    background-color: #ff6500;
}
.tradepos-heading {
    font-size: 21px;
}
.tradepos-heading::after {
    top: 23px;
}
.tradepos-heading::before {
    left: 43%;
    width: 33.5%;
}
.tradepos-heading::after {
    left: 24%;
    width: 16%;
    top: 26px;
}
.top-heading {
    font-size: 25px;
    font-family: inherit;
  }
  .top-heading::before {
    left: 63%;
    width: 27%;
  }
  .top-heading::after {
    content: '';
    position: absolute;
    left: 10%;
    top: 33px;
    width: 26%;
  }

}